# Database
DATABASE_URL=postgresql://postgres.fcbcqzekusaqejnfrwid:Starlingado1@aws-0-sa-east-1.pooler.supabase.com:6543/postgres
PORT=3000

# App JWT secret
JWT_SECRET=09780341b01585892e24dd91ead22ba9287291ae1ed85cfaef546ab4aaec1c70

# Optional - Supabase JWT secret (if you use verifyUser middleware)
SUPABASE_JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZjYmNxemVrdXNhcWVqbmZyd2lkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NDU4MTgzMCwiZXhwIjoyMDYwMTU3ODMwfQ.hA4daC-mM7Rj1glOyUs_k_rnJ-W0x8aP06t-piSPkhs

# Optional - Algolia (to keep reindex in sync)
ALGOLIA_APP_ID=P7ILDN8BXE
ALGOLIA_ADMIN_KEY=211b2e615635e2fbb6695b8196c8b8b4
ALGOLIA_INDEX_NAME=movies_index
